body {
  background-color: #002;
  background-image: url("img/stars_sml.jpeg");
}
.container {
  background-color: #316;
}
.intro {
  /*font-variant: small-caps;*/
  font-family: sans-serif;
  font-size: 3em;
  color: #D4D4FC;
}
.link_to_quiz:hover {
  background-image: url("img/stars_sml.jpeg");
  font-size: 2em;
}
.question_text,
.question_whole {
  padding: 1em;
  color: #F1F1F9;
  border-style: solid;
  border-color: lightgrey;
  margin: 0.5em;
}

.question_whole {
  padding: 0.5em;
  border-color: grey;
  margin: 0.25em;
  

}
